.datve-container {
    display: flex; /* Sử dụng Flexbox để chia hai phần */
    gap: 16px; /* Khoảng cách giữa hai phần */
  }
  
  .content-left {
    flex: 8; 
    padding: 16px; 

  }
  
  .content-right {
    flex: 2; 
    padding: 16px; 
  }
  
  #side-bar-datve .fare-rule {
    width: 100%; /* Đảm bảo bảng chiếm đủ chiều rộng */
    font-size: 14px;
    line-height: 1.6;
  }
  
  #side-bar-datve .fare-rule .head p {
    font-weight: bold;
    font-size: 16px;
  }
  
#content1 {
    padding-bottom: 60px
}
#main-datve .passenger-pagetable {
    float: left;
    clear: both;
}

#tbl-passenger {
    width: 100%;
    font-size: 14px;
}

#side-bar-datve {
    width: 245px;
    vertical-align: top;
    padding-left: 0;
    padding-top: 0;
    float: right;
    padding-right: 7px
}

// table {
//     border-collapse: separate !important;
// }
.col-left,
.col-right {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

@media (max-width: 768px) {
  .col-left,
  .col-right {
    display: block; 
    width: 100%;  
    margin: 8px 0px;
  }
}
.btn-submit {
    background: #e84e0f;
    border: none;
    margin-bottom: 4px;
    color: #fff !important;
    padding: 12px 50px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 6px
}
.passen-page,.flight-page,.ctr-passenger {
    width: 100%;
  padding: 6px 10px 10px 10px;
}
.ctr-passenger1 {
  background: #ffffff;
  width: 100%;
  padding: 6px 10px 10px 10px;
}
.passenger-page input[type="text"], .passenger-page select {
    height: 24px;
    border: 0 solid #000000;
    margin-bottom: 5px;
    margin-right: 10px;
}
.passenger-page input[type="text"] {
    width: 100%;
    padding-left: 1%;
}
.tblotherflight {
    background-color: #efefef;
    padding: 10px
}
