.trangchuMB{
    padding: 10px;
}
.lydoboxHome {
    background-color: #fff;
    margin: 0 5px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    line-height: 28px;
}
.div1 a {
    display: inline-block;
    width: 23%;
    height: 72px;
    text-decoration: none;
    text-align: center;
    position: relative;
}
.boxHome {
    background-color: #fff;
    margin: 0 5px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.div1 a p {
    font-size: .8em;
    padding: 8px 0;
    margin: 0;
    text-align: center;
    display: block;
    color: #333;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.tcenter {
    text-align: center !important;
}
.rowmb .col11 {
    flex-basis: 50%;
}
.div2 a {
    background: url("../../../public/mail.png") no-repeat left;
    padding-left: 25px;
    line-height: 1.4rem;
    background-size: 20px;
    display: block;
    color: #333;
    margin: 10px 0 8px 0;
}
.div3 .bottom {
    border-bottom: 1px solid #d0d0d0;
}
.div3 .right {
    border-right: 1px solid #d0d0d0;
}
.div3 ul li {
    width: 48%;
    display: inline-block;
    float: left;
    padding: 10px 0;
}
.div3 a {
    color: #333;
    text-decoration: none;
}
.div3 .divimg {
    text-align: center;
    height: 27px;
}
.div3 img {
    height: 40px;
    width: 40px;
}
.div3 .divtxt {
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    padding-top: 15px;
    line-height: 22px;
}
.qtQuestionmb li {
    margin: 8px 0
}

.qtQuestionmb li a {
    color: #04438d;
    line-height: 14px;
    text-decoration: none;
    font-size: 12px
}