.flight-pricemb{
    font-size: .98em;
    color: red;
}
.datembndkh {
    word-wrap: break-word; 
    overflow-wrap: break-word;
    max-width: 200px;
  }
  .flight-codemb{
    width: 40px;
    img{
        width: 12px;
    }
  }