#header {
  background: #fff;
  padding: 10px 5px 10px 10px;
}

#header .logo {
  background: url("../../../../public/LogoAbayD.png") no-repeat left center;
  background-position: top left;
  position: relative;
  width: 220px;
  height: 72px;
  float: left;
  margin-left: 5px
}

#header .logo i {
  position: absolute;
  bottom: -5px;
  width: 100%;
  font-weight: bold;
  font-style: normal;
  font-size: 13px;
  color: #e84e0f
}

#header .dienthoai {
  float: right;
  padding-top: 0;
  width: auto;
  border: none
}

#header .dienthoai ul {
  list-style: none
}

#header .dienthoai ul li {
  float: left;
  width: 170px;
  margin-right: 10px
}

#header .dienthoai ul li.lastItem {
  width: 175px;
  margin-right: 0
}

#header .dienthoai td {
  height: 22px
}

.cskhTrangchu span.contentTextcskhTrangchuGray {
  float: left;
  color: #000;
  font-size: 12px;
  margin-right: 5px
}

.cskhTrangchu span.contentTextcskhTrangchuGray .mainNumber {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  line-height: 25px
}

.cskhTrangchu .imgtongdai {
  float: left;
  margin-right: 5px;
  padding-top: 5px;
  width: 37px;
  height: 37px
}
.cskhTrangchu span.contentTextcskhTrangchu {
  float: left;
  color: #d51317;
  font-size: 12px
}
.cskhTrangchu span.contentTextcskhTrangchu .message {
  font-size: 14px;
  color: #383838;
  line-height: 28px;
  margin: 0;
}
.cskhTrangchu span.contentTextcskhTrangchu .title {
  font-size: 14px;
  color: #383838;
  line-height: 28px;
  margin-top: -5px;
  padding-left: 1px;
  margin: 0;
}
.cskhTrangchu span.leftbrackets {
  color: #b8b8b8;
  font-size: 50px;
  width: 18px;
  float: left;
  line-height: 37px;
  font-weight: normal
}
.cskhTrangchu span.contentTextcskhTrangchu .mainNumber {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 26px;
  color: #e84e0f
}
.cskhTrangchu span.leftbrackets {
  color: #b8b8b8;
  font-size: 50px;
  width: 18px;
  float: left;
  line-height: 37px;
  font-weight: normal
}