.working-hours-container {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.icon-container {
  margin-right: 10px;
}

.icon {
  width: 50px;
}

.text-container {
  font-size: 14px;
  line-height: 1.6;
}

.working-hours-text {
  margin: 0;
  font-weight: bold;
  color: #e84e0f;
}

.contact-text {
  margin: 0;
  color: #333;
}

.highlight {
  color: #e84e0f;
}
.height100{
  height: 100px;
}