.footermb-content {
    margin-top: -10px;
    padding-bottom: 10px
}

.footermb {
    background: #00428b;
    text-align: center;
    color: #c5e4ff;
    padding: 5px 0
}

.footermb p {
    font-size: .85em
}

.footermb p>span {
    color: #fff;
    font-weight: 700
}
.ul-footermb {
    padding: 0 10px 10px 10px;
}